[Desktop Entry]
  Name=LifeHQ
  Comment=Design your Life
  Exec=LifeHQ
  Icon=${SNAP}/meta/gui/LifeHQ.png
  Terminal=false
  Type=Application
  Categories=Productivity;
