[Desktop Entry]
Name=LifeHQ
Comment=Design your Life
Exec=LifeHQ
Icon=${SNAP}/meta/gui/lifehq.png
Terminal=false
Type=Application
Categories=Productivity
