[Desktop Entry]
  Name=LifeHQ
  Comment=Design your Life
  Exec=lifehq
  Icon=${SNAP}/meta/gui/lifehq.png
  Terminal=false
  Type=Application
  Categories=Productivity;